$primary-color: #A91B3A;
$secondary-color: #056045;
$terceary-color:#01d894;
$font-color: rgb(39, 39, 39);
$bg-color: #fdfdfd;

$box-shadow: 6px 6px #000000;

$limit: 6;
$unit: 1rem;

$breakpoints:(
    normal:818px,
    grande: 1024px
);